    
    body{ 
    font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
    min-height: 100vh;
    width:auto;
    margin: 0;
    padding: 0;
    background-image: url("https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3dmJia3g0dGtwczZweDRyaDZhbDc5MTltN2R3ODV6OTJmdDgwMXA5ZyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/oLzLDxLJMR0gvjXKKR/giphy.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: black;
  text-shadow:
    -0.5px -0.5px 0 white,
         0.5px -0.5px 0 white,
        -0.5px  0.5px 0 white,
         0.5px  0.5px 0 white,
         0    -0.5px 0 white,
         0     0.5px 0 white,
        -0.5px  0    0 white,
         0.5px  0    0 white;
    }
    header{ 
        background:linear-gradient(100deg,#fdeefba1,#fdbcd8b4); 
        padding:50px 20px; 
        text-align:center; 
        font-family:cursive;
    }
    .group-photo{ 
        width:100% ;
        height:auto ;
        object-fit:cover; 
        border-radius:16px; 
        border:4px solid #fff; 
        box-shadow:0 6px 18px rgba(0,0,0,0.07); 
    }
    h2{ 
        color:rgb(61, 61, 61);
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 32px;
    }
    .card:hover{ 
        transform:translateY(-6px); 
        box-shadow:0 10px 30px rgba(0,0,0,0.08); 
        transition:all .25s ease; 
    }
    .tour-card {
     border-radius: 15px;
     transition: transform 0.3s, box-shadow 0.3s;
    }
.tour-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
    .member-pic{ 
        width:100%; 
        height:200px; object-fit:cover; 
        border-radius:8px; 
    }
    footer{ 
        padding:18px 0; 
        text-align:center; 
        background:linear-gradient(90deg,#fff8fb,#fffdf2); 
        margin-top:40px; 
        border-top:1px solid #f3e9ef; 
    }
    @media (max-width:576px){ 
        .group-photo{ 
            width:70px; 
            height:70px; 
        } 
        .member-pic{ 
            height:150px; 
        } 
    }
    .d-block{
        display: block;
        margin: 0 auto;
        max-width: 400px;
    }
.carrousel-item img {
    max-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 450px;
    max-width: 100%;
    object-fit: cover;
    width: auto;
    margin: 0;
}
.centrado{
    display: block;
    margin: 0 auto;
    max-width: 400px;
}